[Unit]
Description=OpenStack Nova Cert Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=nova
ExecStart=/srv/nova/bin/nova-cert --config-file /etc/nova/nova.conf --log-file /var/log/nova/cert.log

[Install]
WantedBy=multi-user.target

