[Unit]
Description=OpenStack Heat API Service
After=syslog.target network.target

[Service]
Type=simple
User=heat
ExecStart=/srv/heat/bin/heat-api --config-file /etc/heat/heat.conf --log-file /var/log/heat/api.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
