data_host: r2-a4
controller_host: r2-a5
network_host: r2-a3

# Ceph needs a unique value from "uuidgen"
ceph_fsid: "e05d6376-6965-4c48-9b36-b8f5c518e3b9"

# Generated with: ceph-authtool -g --gen-print-key
ceph_mon_pass: "AQD+HM9XTYv+CRAAK8PqN/vLYxetv18R0gnSAw=="
ceph_admin_pass: "AQA1Hc9XXWHTNBAAckb3I3kYvZ97GSwl0jkyLA=="
ceph_bootstrap_osd_pass: "AQC6h89XrotVBRAA2huhk0VW7c6VIWQyETl+gA=="
ceph_glance_pass: "AQBrHc9XZNzwMBAAwhPr4Gbcn77E/6AezPMhqg=="
ceph_nova_pass: "AQCLHc9XBR00ERAA3ZOXE/6Lugiub+IcX0VUmA=="
ceph_cinder_pass: "AQCBHc9X7x2NLBAA2nKjpTpUaH5eHv6+FqvZog=="

# Potentially host specific, this is a list of HDDs ceph should enlist
# on a host as an OSD.
ceph_host_osds:
  - sdb
  - sdc
  - sdd

mysql_root_user: mysql
mysql_root_pass: UnsafeMySQLPassw0rd

keystone_admin_pass: Not5afe4Pr0duct!on

glance_user: glance
glance_pass: Unsafe1magePassw0rd

nova_neutron_metadata_proxy_shared_secret: f530a126c0be630488a6

nova_user: nova
nova_pass: UnsafeC0mput3Passw0rd
nova_ceph_virsh_uuid: 06214a0d-dc30-4e9b-856b-c8f0c0e63d9d

rabbit_user: openstack
rabbit_pass: UnsafeBunnyPass0rd

neutron_user: neutron
neutron_pass: UnsafeN3tPassw0rd

cinder_user: cinder
cinder_pass: UnsafeBl0ckPassw0rd
cinder_ceph_virsh_uuid: 21cf1630-801b-4dd6-aef5-2bed37fd086a

heat_user: heat
heat_pass: UnsafeHeatPassw0rd
heat_domain_admin: heat_domain_admin
heat_domain_pass: UnsafeD0main

zabbix_db_name: zabbix
zabbix_db_user: zabbix
zabbix_db_password: Unsaf3Zabb1xPassw0rd
zabbix_server: monitoring.example.com
